<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cell to Singularity Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Cell to Singularity Calculator</h1>

<ul th:each="simulation : ${calculator.simulations}">
    <li th:text="${simulation.name}"/>
    <ul th:each="garden : ${simulation.gardens}">
        <li th:text="|${garden.name} (${garden.currency.name})|"/>
        <ul th:each="generator : ${garden.generators}">
            <li th:text="|${generator.name}: count ${generator.count} * base production ${generator.baseProduction} * efficiency ${generator.efficiency} = ${generator.count * generator.baseProduction * generator.efficiency}|"/>
        </ul>
        <ul th:each="upgrade : ${garden.upgrades}">
            <li th:text="|${upgrade.name}: ${upgrade.bought}|"/>
            <ul th:each="effect : ${upgrade.effects}">
                <li th:text="|${effect.generator.name}: ${effect.efficiency}|"/>
            </ul>
        </ul>
    </ul>
</ul>

</body>
</html>
