<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cell to Singularity Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Cell to Singularity Calculator</h1>

<div th:each="simulation : ${calculator.simulations}">
    <h2 th:text="${simulation.name}"/>
    <div th:each="garden : ${simulation.gardens}">
        <h3 th:text="|${garden.name} (${garden.currency.name})|"/>
        <div th:each="generator : ${garden.generators}">
            <h4 th:text="${generator.name}"/>
        </div>
        <div th:each="upgrade : ${garden.upgrades}">
            <h4 th:text="|${upgrade.generator.name}: ${upgrade.name}"/>
        </div>
    </div>
</div>

</body>
</html>
