<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:text="|Cell to Singularity - ${production.name}|"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/celltosingularity.css">
</head>

<body>
<div class="container">
    <div class="itemStats">
        <h1 th:text="${production.name}"/>
        <a href="">Reset</a>
        <h2>Total Production</h2>
        <table>
            <tr th:each="totalProduction : ${production.totalProductions}">
                <td th:text="${totalProduction}"/>
            </tr>
        </table>
        <h2>Generator Productions</h2>
        <table>
            <tr>
                <th>Generator</th>
                <th>Count</th>
                <th>Cost of Next</th>
                <th>Time of Next</th>
                <th>Increase</th>
                <th>Production of Each</th>
                <th>Total Production</th>
                <th>Production Ratio</th>
            </tr>
            <tr th:each="generatorProduction : ${production.generatorProductions}">
                <td th:text="${generatorProduction.name}"/>
                <td th:text="${generatorProduction.count}"/>
                <td th:text="${generatorProduction.next}"/>
                <td th:text="${generatorProduction.nextDuration}"/>
                <td th:text="${generatorProduction.increase}"/>
                <td th:text="${generatorProduction.each}"/>
                <td th:text="${generatorProduction.total}"/>
                <td th:text="${generatorProduction.ratio}"/>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
